/* Enter your Styles below!
font-family: 'Open Sans', sans-serif;*/

#music-video-comp {
  position: fixed;
  align: center;
  bottom: 0;
  max-width: 100%;
  max-height: 400%;
}

body{
  background-color: black;
}

.wrapper {
  color: black;
  background-size: cover;
  max-width: 900px;
  margin: 250px auto;
}

div .landing {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
  font-style: italic;
  color: pink;
  font-weight: 900;
  font-size: 75px;
}

.h1-link {
  text-decoration: none;
  color:pink;

}

a.h1-link:hover {
  animation-name: tilt-header;
  animation-duration: 1s;
  transform: rotate (30deg);
  display: inline-block;
}


@keyframes tilt-header {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(30deg);}
}
@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
