/* Enter your Styles below!
font-family: 'Open Sans', sans-serif;*/

#music-video-comp {
  position: fixed;
  align: center;
  bottom: 0;
  max-width: 100%;
  max-height: 400%;
}

body{
  background-color: grey;
}

.wrapper {
  color: black;
  background-size: cover;
  max-width: 900px;
  margin: 250px auto;
}

div .landing {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}


h1 {
	font-family: 'Open Sans', sans-serif;
	text-align: center;
  font-style: italic;
  color: pink;
  font-weight: 900;
  font-size: 75px;
}

.h1-link {
  text-decoration: none;
  color:pink;

}

a.h1-link:hover {
  animation-name: tilt-header;
  animation-duration: 1s;
  transform: rotate (30deg);
  display: inline-block;
}

.video-background-controls button {
				font-size: 32px;
				display: inline-block;
				padding: 0px;
				margin: 0px;
				height: 32px;
				width: 32px;
				border-radius: 16px;
				line-height: 32px;
				border: none;
				background: none;
				-webkit-appearance: none;
				color: white;
				filter: drop-shadow(0px 0px 1px black);
				cursor: pointer;
				opacity: 1;
				transition: all 250ms ease-in-out;
				margin-left: 10px;
			}

			.video-background-controls button:hover {
				opacity: 0.5;
			}

@keyframes tilt-header {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(30deg);}
}
@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
