/* Enter your Styles below!
font-family: 'Open Sans', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;

*/


body{
  margin:0px;
  padding:0px;
  background-color: #4C2B2A;
}

#sidebar {
  background:#4C2B2A;
  width:95%;
  height:100%;
  display:block;
  position:absolute;
  left:-95%;
  top:0px;
  transition:left 0.7s linear;
}

#sidebar.visible {
  left:0px;
  transition:left 0.7s linear;
}

ul{
  margin: 25px;
  padding: 0px;
}

ul li{
  list-style:none;
}
ul li a {
  text-decoration: none;
  font-family: 'Shrikhand', cursive;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: wheat;
  font-size: 125px;
  display:inline-block;
  width:auto;
  padding:8px;
}

a.facts-link:hover {
  font-size:0px;
}

a.facts-link:hover:after{
  content:'FACTS ARE SIMPLE';
  font-size:95px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: wheat;
}
a.discography-link:hover {
  font-size:0px;
}

a.discography-link:hover:after{
  content:"THIS AIN'T NO DISCO";
  font-size:95px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: wheat;
}

a.videography-link:hover {
  font-size:0px;
}

a.videography-link:hover:after{
  content:"I'M A TELEVISION MAN";
  font-size:95px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: wheat;
}

a.members-link:hover {
  font-size:0px;
}

a.members-link:hover:after{
  content:"WE ARE CREATURES";
  font-size:95px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: wheat;
}

a.home-link:hover {
  font-size:0px;
}

a.home-link:hover:after{
  content:"IS WHERE I WANT TO BE";
  font-size:95px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 900;
  -webkit-text-fill-color: wheat;
}

#sidebar-btn {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height:15px;
  cursor:pointer;
  margin:20px;
  position:absolute;
  top:0px;
  right:-68px;
}

#sidebar-btn span {
  height:3px;
  background:wheat;
  margin-bottom:5px;
  display:block;
}

#sidebar-btn span:nth-child(2){
  width:75%;
}

#sidebar-btn span:nth-child(3){
  width:50%;
}

#talkingheads-btn {
  display: block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  cursor:pointer;
  margin:20px;
  position:absolute;
  top:90%;
  right:-60px;
  -webkit-transform: rotate(-90deg);)

}

.h1-btn {
  font-size: 18px;
  text-decoration: none;
  color: wheat;
  text-align: center;
}

#s1-video {
  display: block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin:0px;
  position:absolute;
  top:0px;
  right:-95px;
}

#running-video {
  max-height:100vh;
  width:1205px;
  object-fit:fill;
}


#music-video-comp {
  position: fixed;
  align: center;
  bottom: 0px;
  max-width: 100%;
  max-height: 200%;
}

.wrapper {
  color: black;
  background-size: cover;
  max-width: 900px;
  margin: 200px auto;
}

div .landing {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
  top: 100px;
}


h1 {
  font-family: 'Shrikhand', cursive;
	text-align: center;
}
.h1-link {
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: wheat;
    text-decoration: none;
    font-style: italic;
    font-weight: 400;
    font-size: 75px;
}

.h1-link {
  text-decoration: none;
  color:wheat;
  text-align: center;

}

a.h1-link:hover {
  animation-name: tilt-header;
  animation-duration: 1s;
  display: inline-block;
  -webkit-text-fill-color:wheat;
}

.callout {
  text-decoration:none;
  font-family: 'IBM Plex Serif', serif;
  font-size: 100px;
  font-weight:medium;
  color: wheat;
  text-align: left;
  display:block;
  margin-top:50px;
  margin-left:10%;
  margin-bottom: 50px;
}

.emphasis{
  text-decoration:none;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 100px;
  font-weight:bold;
  color: wheat;

}

.facts-p1{
  font-family: 'IBM Plex Serif', serif;
  font-size: 14px;
  color:wheat;
  line-height:normal;
}

.facts-grid {
  display:grid;
  grid-template-columns: 20% 40% 40%;
  grid-template-rows:40% 60%;
  grid-column-gap:3em;
}

.facts-header{
  grid-column:1/3;
}

.facts-neg-space{
  grid-column:1/2;
}
.facts-p1{
  grid-column:2/3;
  padding:15px;
}
.disco-p1{
  font-family: 'IBM Plex Serif', serif;
  font-size: 14px;
  color:wheat;
  line-height:normal;
  grid-column: 1/3;
  grid-row:1/3;
}

.disco-grid{
  display:grid;
  margin-left: 100px;
  margin-top: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows:1fr 1fr 1fr;
}

.disco-header{
  grid-column: 1/3;
  grid-row:1/3;
}

@keyframes tilt-header {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-30deg);}

}


@media only screen and (min-width:768px) {

}

@media only screen and (min-width:1224px) {

}
